@using Zaliczenie.Data.Entities
@using Microsoft.AspNetCore.Identity
@using System.Diagnostics
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@inject IHttpContextAccessor Accessor;
@inject SignInManager<User> SignInManager;
@inject NavigationManager NavigationManager

@code {
    protected override async Task OnInitializedAsync()
    {
        if (Accessor?.HttpContext?.User is null) return;
        
        if (SignInManager.IsSignedIn(Accessor!.HttpContext!.User))
        {
            var user = await SignInManager.UserManager.FindByEmailAsync(Accessor.HttpContext.User.Identity!.Name!);
            if (user is null)
            {
                NavigationManager.NavigateTo("Identity/Account/Login");
                await base.OnInitializedAsync();
                return;
            }
            if (user.CompanyId is null) NavigationManager.NavigateTo("/Identity/Account/FillCompanyData");
        }
    }

}